# Correlation & Regression
There's a moderate (r = -0.4 to -0.5) negative correlation between (stat-xstat) and how players perform the following season relative to their previous season.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

df = pd.read_csv('../out.csv')

In [7]:
woba_corr = df[['wobadiff (2023)', 'ops_change 2023-2024']].corr()
slg_corr = df[['xslgdiff (2023)', 'ops_change 2023-2024']].corr()
ba_corr = df[['xbadiff (2023)', 'ops_change 2023-2024']].corr()

display(woba_corr)
display(slg_corr)
display(ba_corr)

                      wobadiff (2023)  ops_change 2023-2024
wobadiff (2023)              1.000000             -0.493158
ops_change 2023-2024        -0.493158              1.000000

                      xslgdiff (2023)  ops_change 2023-2024
xslgdiff (2023)              1.000000             -0.435986
ops_change 2023-2024        -0.435986              1.000000

                      xbadiff (2023)  ops_change 2023-2024
xbadiff (2023)              1.000000             -0.494272
ops_change 2023-2024       -0.494272              1.000000